/*Fuentes personalizadas*/
@font-face {
	font-family: 'Helvetica Cond Light';
	src: url(fuentes/HelveticaLTStd-LightCond.otf)
}

@font-face {
	font-family: 'Helvetica Cond Bold';
	src: url(fuentes/HelveticaLTStd-BlkCond.otf);
}
img {
	width: 100%
}
body {
    font-family: 'Helvetica Cond Light';
    font-size: 25px;
    background-color: rgb(229, 206, 206);
}